{% extends "index.html" %}

{% block title %} Hussain BlogWebsite {% endblock %}

{% block content %}
<p style="word-spacing: 40px; font-size:20px;"><a href="#">Home</a>  <a href="users/">Users</a>  <a href="blogs/">Posts</a>  <a href="comments/">Comments</a>  <a href="/categories/">Categories</a></p>

  <h1 class="p3">Hussain BlogWebsite</h1>

    <h2>Posts</h2> <p>Click on <a href="blogs/" class="button">Posts</a> to go to the posts table</p>
    <h2>Users</h2> <p>Click on <a href="users/" class="button">Users</a> to go to the users table</p>
    <h2>Comments</h2> <p>Click on <a href="comments/" class="button">Comments</a> to go to the comments table</p>
    <h2>Categories</h2> <p>Click on <a href="categories/" class="button">Categories</a> to go to the categoies table</p>

{% endblock %}