<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <style>
    .button {
  background-color: #F9F5F4;
  border: none;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
    .p3 {
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: "Lucida Handwriting", "Cursive", monospace;
       }
  </style>
</head>

<body>
{% block content %}
{% endblock %}

</body>

</html>